In [1]:
#import libraries

import csv
import os
import types
import pandas as pd
import numpy as np
from csv import DictReader
from types import ModuleType
import sys
import operator

In [22]:
#pypoll_csv = os.path.join('Resources', 'election_data.csv')

#with open(pypoll_csv) as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
 #   pypoll_csvreader = csv.reader(csvfile, delimiter=',')

  #  print(pypoll_csvreader)

    # Read the header row first (skip this step if there is now header)
   # csv_header = next(pypoll_csvreader)
    #print(f"CSV Header: {csv_header}")

    # Read each row of data after the header
    #for row in pypoll_csvreader:
     #   print(row)
pypoll_csv = "Resources/election_data.csv"       
pypoll_read = pd.read_csv(pypoll_csv)
pypoll = pd.DataFrame(pypoll_read)

#making an extra df that disables headers
#pypoll_read_nohead = pd.read_csv(pypoll_csv,header=None)
#pypoll_noh = pypoll_read_nohead.columns("Candidate", "Vote Count", "Percent")
#pypoll_nohead = pd.DataFrame(pypoll_noh)
pypoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#establish voter id df

voterID=pypoll['Voter ID']
voterID_df= pd.DataFrame(voterID)
voterID_df.head()

   Voter ID
0  12864552
1  17444633
2  19330107
3  19865775
4  11927875

In [4]:
#establish county df
county = pypoll['County']
county_df = pd.DataFrame(county)
county_df.head()

  County
0  Marsh
1  Marsh
2  Marsh
3  Queen
4  Marsh

In [24]:
#establish candidate df
candidate_col = pypoll['Candidate']
candidate_df = pd.DataFrame(candidate_col)
candidate_df.head()

  Candidate
0      Khan
1    Correy
2      Khan
3      Khan
4      Khan

In [6]:
#In this challenge, you are tasked with helping a small, rural town modernize its vote counting process.
#You will be give a set of poll data called election_data.csv. The dataset is composed of three columns: Voter ID, County, and Candidate. Your task is to create a Python script that analyzes the votes and calculates each of the following:

#The total number of votes cast
#There are no duplicate voterID's, so we can just take the length of dataset to find votes cast. 
#BUT its not like VOtes cast= number of voters
vote_num = len(pypoll)
q1 = print("The Total Votes Casted: "+ str(vote_num))
q1

The Total Votes Casted: 3521001

In [7]:
#A complete list of candidates who received votes
#q2 = candidate_df.value_counts()
#q2
#below was working at just hours ago, but now not working very strange

q2= pd.value_counts(candidate_df.values.flatten())
q2

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
dtype: int64

In [11]:
q2df= pd.DataFrame(candidate_df.value_counts())
q2df

                 0
Candidate
Khan       2218231
Correy      704200
Li          492940
O'Tooley    105630

In [12]:
#The percentage of votes each candidate won
q3 = candidate_df.value_counts(normalize=True)*100
#q3.col.apply(lambda x: round(x, N - int(floor(log10(abs(x))))))
q3

Candidate
Khan         63.000011
Correy       19.999994
Li           13.999996
O'Tooley      2.999999
dtype: float64

In [16]:
q3df = pd.DataFrame(q3)
q3df

                   0
Candidate
Khan       63.000011
Correy     19.999994
Li         13.999996
O'Tooley    2.999999

In [59]:
q3w=pd.concat([q2df,q3df],axis=1,keys=['# of Votes','Percentage (%)'])
#q3w.columns = ["Candidate","# of Votes", "Percentage (%)"]
q3w

          # of Votes Percentage (%)
                   0              0
Candidate
Khan         2218231      63.000011
Correy        704200      19.999994
Li            492940      13.999996
O'Tooley      105630       2.999999

In [66]:
#The total number of votes each candidate won
q3dict = q3w.to_dict()
q3dict

{('# of Votes', 0): {('Khan',): 2218231,
  ('Correy',): 704200,
  ('Li',): 492940,
  ("O'Tooley",): 105630},
 ('Percentage (%)', 0): {('Khan',): 63.00001050837531,
  ('Correy',): 19.999994319797125,
  ('Li',): 13.999996023857989,
  ("O'Tooley",): 2.999999147969569}}

In [67]:
q3dict_df = pd.DataFrame.from_dict(q3dict)
# q3dict_df.rename(columns = {'0':'Candidates','0':'# of Votes','0':'Percent of Votes (%)'})
#range(q3dict_df.shape[1])
#q3dict_df = range(q3dict_df.shape[1])
q3d = q3dict_df.to_csv('q3.csv')
q3a = pd.read_csv('q3.csv')
#q3a.rename(columns = {'Unamed: 0' :'Candidates'},inplace=True)
q3a=q3a.dropna()  
q3a

  Unnamed: 0  # of Votes  Percentage (%)
1       Khan     2218231       63.000011
2     Correy      704200       19.999994
3         Li      492940       13.999996
4   O'Tooley      105630        2.999999

In [68]:
candidateCol = ['Khan','Correy','Li',"O'Tooley"]
q3a['Candidates']=candidateCol
q3a

  Unnamed: 0  # of Votes  Percentage (%) Candidates
1       Khan     2218231       63.000011       Khan
2     Correy      704200       19.999994     Correy
3         Li      492940       13.999996         Li
4   O'Tooley      105630        2.999999   O'Tooley

In [71]:
organized_q3 = q3a[['Candidates','# of Votes','Percentage (%)' ]]
organized_q3

  Candidates  # of Votes  Percentage (%)
1       Khan     2218231       63.000011
2     Correy      704200       19.999994
3         Li      492940       13.999996
4   O'Tooley      105630        2.999999

In [72]:
#actual answer
q3s = organized_q3.to_string(index=False)
q3s

"Candidates  # of Votes  Percentage (%)\n      Khan     2218231       63.000011\n    Correy      704200       19.999994\n        Li      492940       13.999996\n  O'Tooley      105630        2.999999"

In [82]:
#The winner of the election based on popular vote.

winner = organized_q3.iloc[0,0]
#winner

print("Election Results")
print("-----------------------------------------------------------------")
print(str(q1))
print("-----------------------------------------------------------------")

print(q3s)

print("-----------------------------------------------------------------")
print(f"The winner is: {winner}")
print("-----------------------------------------------------------------")
print("\n")

Election Results
-----------------------------------------------------------------
None
-----------------------------------------------------------------
Candidates  # of Votes  Percentage (%)
      Khan     2218231       63.000011
    Correy      704200       19.999994
        Li      492940       13.999996
  O'Tooley      105630        2.999999
-----------------------------------------------------------------
The winner is: Khan
-----------------------------------------------------------------

In [87]:
#final output as .txt file

open("analysis/pypoll_analysis.txt", "w")

print("Election Results", file=open("analysis/pypoll_analysis.txt","a"))
print("-----------------------------------------------------------------", file=open("analysis/pypoll_analysis.txt","a"))
print("The Total Votes Casted: "+ str(vote_num), file=open("analysis/pypoll_analysis.txt","a"))
print("-----------------------------------------------------------------", file=open("analysis/pypoll_analysis.txt","a"))

print(q3s, file=open("analysis/pypoll_analysis.txt","a"))

print("-----------------------------------------------------------------", file=open("analysis/pypoll_analysis.txt","a"))
print(f"The winner is: {winner}", file=open("analysis/pypoll_analysis.txt","a"))
print("-----------------------------------------------------------------", file=open("analysis/pypoll_analysis.txt","a"))
print("\n", file=open("analysis/pypoll_analysis.txt","a"))