In [6]:
#import libraries

import csv
import os
import types
import pandas as pd
import numpy as np
from csv import DictReader
from types import ModuleType
import sys
import operator

In [14]:
#pypoll_csv = os.path.join('Resources', 'election_data.csv')

#with open(pypoll_csv) as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
 #   pypoll_csvreader = csv.reader(csvfile, delimiter=',')

  #  print(pypoll_csvreader)

    # Read the header row first (skip this step if there is now header)
   # csv_header = next(pypoll_csvreader)
    #print(f"CSV Header: {csv_header}")

    # Read each row of data after the header
    #for row in pypoll_csvreader:
     #   print(row)
pypoll_csv = "Resources/election_data.csv"       
pypoll_read = pd.read_csv(pypoll_csv)
pypoll = pd.DataFrame(pypoll_read)

pypoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [16]:
#establish voter id df

voterID=pypoll['Voter ID']
voterID_df= pd.DataFrame(voterID)
voterID_df.head()

   Voter ID
0  12864552
1  17444633
2  19330107
3  19865775
4  11927875

In [17]:
#establish county df
county = pypoll['County']
county_df = pd.DataFrame(county)
county_df.head()

  County
0  Marsh
1  Marsh
2  Marsh
3  Queen
4  Marsh

In [18]:
#establish candidate df
candidate = pypoll['Candidate']
candidate_df = pd.DataFrame(candidate)
candidate_df.head()

  Candidate
0      Khan
1    Correy
2      Khan
3      Khan
4      Khan