In [2]:
#import libaries
import os
import csv
import pandas as pd
import numpy as np

In [3]:
pybankcsv = os.path.join('Resources', 'budget_data.csv')

In [4]:
with open(pybankcsv) as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    pybank_csvreader = csv.reader(csvfile, delimiter=',')

    print(pybank_csvreader)

    # Read the header row first (skip this step if there is now header)
    csv_header = next(pybank_csvreader)
    print(f"CSV Header: {csv_header}")

    # Read each row of data after the header
    for row in pybank_csvreader:
        print(row)

<_csv.reader object at 0x00000182A25C9820>
CSV Header: ['Date', 'Profit/Losses']
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

In [5]:

#creating dataframes for individual columns

pybank = "Resources/budget_data.csv"
pybank_read = pd.read_csv(pybank)
pybank_df=pd.DataFrame(pybank_read)
pybank_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
profit = pybank_df["Profit/Losses"]
profit_df = pd.DataFrame(profit)
profit_df

    Profit/Losses
0          867884
1          984655
2          322013
3          -69417
4          310503
..            ...
81         102685
82         795914
83          60988
84         138230
85         671099

[86 rows x 1 columns]

In [7]:
date = pybank_df["Date"]
date_df = pd.DataFrame(date)
date
#why is this not in the pd df format?

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [17]:
#The total number of months included in the dataset
total = 0
 
# list to hold unique dates
unique_dates = []
  
# loop for counting the unique
for i in range(0, len(pybank_df['Date'])):
    
    if pybank_df['Date'][i] not in unique_dates: 
        
        unique_dates.append(pybank_df['Date'][i])
          
        total += 1
  
q1 = print("Total Moths :", total)
q1

Total Moths : 86

In [18]:
#The net total amount of "Profit/Losses" over the entire period
PL = pybank_df['Profit/Losses']
total_PL = PL.sum()
q2 = print("Total: $"+ str(total_PL))
q2

Total: $38382578

In [19]:
#Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes
#What does this even mean? haha mean
avg_container = []
avg_list = list(PL)

# loop for calc for avg, 

for i in range(0, len(PL)-1):
    current_row = avg_list[i]
    next_row = avg_list[i+1]
    avg_container.append(next_row-current_row)
    #mean_change= avg_container.mean()
    mean_change = np.mean(avg_container)
    dollars = round(mean_change,2)
    
q3 = print(f"The average change is ${dollars}")
q3

The average change is $-2315.12

In [20]:
#The greatest increase in profits (date and amount) over the entire period
greatestIncProf = (pybank_df["Profit/Losses"].max())
P_list = []

PL_List = list(PL)



for i in range(0, len(PL)-1):
    current_row = PL_List[i]
    next_row = PL_List[i+1]
    P_list.append(next_row-current_row)
    maxP=max(P_list)
    maxMonth = date[P_list.index(max(P_list))] 
    minL = min(P_list)
    minMonth = date[P_list.index(min(P_list))] 
    
    
q4 = print(f"The Greatest Profit increase happens on {maxMonth} and is ${maxP}")
q4

The Greatest Profit increase happens on Jan-2012 and is $1926159

In [21]:
#The greatest decrease in profits (date and amount) over the entire period
greatDecProf = (pybank_df["Profit/Losses"].min())

q5 = print(f"The Greatest Profit decrease happens on {minMonth} and is ${minL}")

The Greatest Profit decrease happens on Aug-2013 and is $-2196167

In [22]:
#final summary
title = print("Financial Analysis")
title
pbreak = print("-----------------------------------------------------------------")
pbreak
print("Total Moths :", total)
print("Total: $"+ str(total_PL))
print(f"The average change is ${dollars}")
print(f"The Greatest Profit increase happens on {maxMonth} and is ${maxP}")
print(f"The Greatest Profit decrease happens on {minMonth} and is ${minL}")
print("-----------------------------------------------------------------")
#goal analysis = [title, pbreak, q1,q2,q3,q4,q5,pbreak]
analysis=[]

Financial Analysis
-----------------------------------------------------------------
Total Moths : 86
Total: $38382578
The average change is $-2315.12
The Greatest Profit increase happens on Jan-2012 and is $1926159
The Greatest Profit decrease happens on Aug-2013 and is $-2196167
-----------------------------------------------------------------

In [32]:
#append pybank_analysis
open("analysis/pybank_analysis.txt", "w")

print("Financial Analysis", file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print("-----------------------------------------------------------------", file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print("Total Moths :"+ str(total), file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print("Total: $"+ str(total_PL), file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print(f"The average change is $"+ str(dollars), file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print(f"The Greatest Profit increase happens on {maxMonth} and is ${maxP}", file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print(f"The Greatest Profit decrease happens on {minMonth} and is ${minL}", file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))
print("-----------------------------------------------------------------", file=open("analysis/pybank_analysis.txt","a"))
print("\n", file=open("analysis/pybank_analysis.txt","a"))