In [1]:
#import libraries

import csv
import os
import types
import pandas as pd
import numpy as np
from csv import DictReader
from types import ModuleType
import sys
import operator

In [2]:
#pypoll_csv = os.path.join('Resources', 'election_data.csv')

#with open(pypoll_csv) as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
 #   pypoll_csvreader = csv.reader(csvfile, delimiter=',')

  #  print(pypoll_csvreader)

    # Read the header row first (skip this step if there is now header)
   # csv_header = next(pypoll_csvreader)
    #print(f"CSV Header: {csv_header}")

    # Read each row of data after the header
    #for row in pypoll_csvreader:
     #   print(row)
pypoll_csv = "Resources/election_data.csv"       
pypoll_read = pd.read_csv(pypoll_csv)
pypoll = pd.DataFrame(pypoll_read)

pypoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#establish voter id df

voterID=pypoll['Voter ID']
voterID_df= pd.DataFrame(voterID)
voterID_df.head()

   Voter ID
0  12864552
1  17444633
2  19330107
3  19865775
4  11927875

In [4]:
#establish county df
county = pypoll['County']
county_df = pd.DataFrame(county)
county_df.head()

  County
0  Marsh
1  Marsh
2  Marsh
3  Queen
4  Marsh

In [11]:
#establish candidate df
candidate_col = pypoll['Candidate']
candidate_df = pd.DataFrame(candidate_col)
candidate_df.head()

  Candidate
0      Khan
1    Correy
2      Khan
3      Khan
4      Khan

In [7]:
#In this challenge, you are tasked with helping a small, rural town modernize its vote counting process.
#You will be give a set of poll data called election_data.csv. The dataset is composed of three columns: Voter ID, County, and Candidate. Your task is to create a Python script that analyzes the votes and calculates each of the following:

#The total number of votes cast
#There are no duplicate voterID's, so we can just take the length of dataset to find votes cast. 
#BUT its not like VOtes cast= number of voters
vote_num = len(pypoll)
q1 = print("The Total Votes Casted: "+ str(vote_num))
q1





#The total number of months included in the dataset
#total_V = 0
 
# list to hold unique id
#unique_id = []
  
# loop for counting the unique
#for i in range(0, len(pypoll['Candidate'])):
    
#    if pypoll['Candidate'][i] not in unique_id: 
        
#        unique_id.append(pypoll['Candidate'][i])
          
#        total_V += 1
  
#print("Total Votes :" + str(total_V))

The Total Votes Casted: 3521001

In [9]:
#A complete list of candidates who received votes
#q2 = candidate_df.value_counts()
#q2
candidate_

Candidate
Khan         2218231
Correy        704200
Li            492940
O'Tooley      105630
dtype: int64

In [22]:
#The percentage of votes each candidate won
q3 = candidate_df.value_counts(normalize=True)
q3

Candidate
Khan         0.63
Correy       0.20
Li           0.14
O'Tooley     0.03
dtype: float64

In [28]:
q3Per = pd.DataFrame(q3)
q3Per

              0
Candidate
Khan       0.63
Correy     0.20
Li         0.14
O'Tooley   0.03

In [ ]:
#The total number of votes each candidate won

In [ ]:
#The winner of the election based on popular vote.